[workspace]
members = [
    "core",
    "cli",
    "gui",
]
resolver = "2"

[workspace.package]
version = "1.3.0"
edition = "2021"
rust-version = "1.74.0"
repository = "https://github.com/funny/mgit"

[profile.release]
opt-level = 'z'
lto = true
codegen-units = 1
