name: test-core
on: [push]

env:
  CARGO_TERM_COLOR: always

jobs:
  test_cli:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, windows-2022, macos-14]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.92.0

      - name: run mgit test
        run: cargo test -p mgit
